// Глобальные цвета
$main-blue: #003264;
$dark: #242627;
$orange: #e9862a;
$white: #ffffff;
$blue: #187cd3;
$gray: #c3c8c8;
$stroke: #ebebeb;

// Шрифты
@font-face {
  font-family: 'Helios';
  src: url('@/assets/fonts/helios.ttf');
}

@font-face {
  font-family: 'HeliosC Bold';
  src: url('@/assets/fonts/heliosc-bold.otf');
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url('@/assets/fonts/gilroy-medium.ttf');
}

// Миксины
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin primary-button {
  @include flex-center;

  border: none;
  cursor: pointer;
  font-family: 'HeliosC Bold';
  transition: background-color 0.25s ease;
  height: 64px;
  width: 254px;
  font-size: 16px;
  line-height: 20px;
  background-color: $orange;
  color: $white;

  &:hover {
    background-color: #e77e1e;
  }
}
