/* Обнуление стилей */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  font-family: 'Helios', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: content-box;
}

@media (max-width: 1279px) {
  ._container {
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
  ._container {
    padding: 0 20px;
  }
}
